@font-face {
	font-family: JosefinSans-Regular;
	src: url('../font/JosefinSans-Regular.ttf');
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	color: #fff !important;
	font-family: JosefinSans-Regular !important;
	
}
.fullcreen {
	width: 100%;
	height: 100vh;
}
.spinner-border,.alert {
	color: black;
}
.alert-warning {
    color: #7d5a29;
    background-color: #fcefdc;
    border-color: #fbe8cd;
}
.alert-info {
    color: #10516c;
    background-color: #d2ebf5;
    border-color: #c0e3f2;
}
.maxWidth {
	max-width: 1200px;
	margin: 0 auto;
}

.font-normal {
	font-family: Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
}

body::-webkit-scrollbar {
	display: none
}

div {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #fff;
}

input:focus {
	outline: none;

}

select:focus {
	outline: none;
}

input,
textarea,
select {
	border: none;
	background: none;
}

option {
	width: 100%;
}

input::placeholder {
	color: #000;
	font-family: JosefinSans-Regular;
}

textarea::placeholder {
	color: #000;
	font-family: JosefinSans-Regular;
}

button {
	border: none;
	background-color: #fff;
}

input[type="radio"] {
	margin: 3px 3px 0px 5px !important;
	transform: scale(0.8);
}


input[type="radio"] {
	width: 20px;
	height: 20px;
	appearance: none;
	position: relative;
	outline: none;
}

input[type="radio"]:before {
	content: "";
	width: 15px;
	height: 15px;
	border: 1px solid #333;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
}

input[type="radio"]:checked:before {
	content: "";
	width: 15px;
	height: 15px;
	border: 1px solid #333;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
}

input[type="radio"]:checked:after {
	content: "";
	width: 9px;
	height: 9px;
	text-align: center;
	background: rgb(67, 117, 123);
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 4px;
	left: 4px;
}

#app {
	width: 100%;
	height: 100%;
	margin-bottom: 10%;
	font-size: 0.18rem;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-center {
	display: flex;
	align-items: center;
}

.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-around {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.layui-menu li:hover {
	color: #FFC008;
	background-color: #FFFFFF !important;
}

.layui-menu li {
	padding: 0 15px !important;
}

.down-icon {
	width: 0.15rem;
	height: 0.15rem;
	object-fit: contain;
}

.downPutOne {
	cursor: pointer;
}

.mask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(1, 1, 1, 0.2);
	z-index: 8;
	display: none;
}
.Confirm , .SelectItem{
	width: 90%;
	max-width: 400px;
	padding: .5rem 0.1rem;
	background: white;
	border: 1px solid rgb(67,117,123);
	box-sizing: border-box;
}
.Confirm .no, .SelectItem .no {
	background: none;
	color: rgb(67,117,123);
	border: 1px solid rgb(67,117,123);
	margin-left: .1rem;
	
	
}
.Confirm .basket-btn, .SelectItem .basket-btn{
	margin-top: .5rem;
	padding: .05rem .1rem;
}
.SelectItem .basket-btn {
	padding: .05rem .1rem;
}
.SelectItem {
	height: 200px;
}


.layui-form-select {
	color: #333;
	flex: 1;
}

.layui-form .layui-select-title input {
	border: none;
	padding-left: 0;
	height: auto;
}

.layui-form-select dl {
	top: 30px !important;
}

.layui-form-select .layui-edge {
	border: none !important;
	width: 15px !important;
	height: 15px !important;
	background: url(../img/index/down1.png) no-repeat center / contain !important;
	margin-top: -9px !important;
}

.layui-form-select .layui-this {
	background-color: #fff !important;
	color: #FFC008 !important;
}

.layui-form-select dl dd,
.layui-form-select dl dt {
	line-height: 28px !important;
}
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
	padding: 0;
	margin: 0;
}
.formCheckLabel {
	display: block;
	width: .2rem;
	height: .2rem;
	position: absolute;

	cursor: pointer;
	background-color: rgb(67,117,123);

}
.formCheckLabel.checked::before {
	display: block;
	content: '\2714';
	color: white;
	text-align: center;
	font-size: .16rem;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.TextYellowBtn {
	background-color: #FEC107 !important;
}
.w100 {
	width: 100%;
}
.TextGreenBtn {
	background-color: rgb(67,117,123);
}
.btn {
	background-color: rgb(67,117,123);
	padding: 0.1rem 0.18rem;
	border-radius: 0.1rem;
	color: #fff;
	font-size: 0.16rem;
	cursor: pointer;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .12rem .2rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 3px;
}
.h2, h2 {
    font-size: .28rem;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
}
.card>.list-group:last-child {
    border-bottom-width: 0;
}
.card>.list-group:first-child {
    border-top-width: 0;
}
.card>.list-group {
    border-top: inherit;
    border-bottom: inherit;
}
@-webkit-keyframes spinner-border{to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spinner-border{to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.spinner-border{display:inline-block;width:2rem;height:2rem;vertical-align:text-bottom;border:.25em solid currentColor;border-right-color:transparent;border-radius:50%;-webkit-animation:spinner-border .75s linear infinite;animation:spinner-border .75s linear infinite}.spinner-border-sm{width:1rem;height:1rem;border-width:.2em}@-webkit-keyframes spinner-grow{0%{-webkit-transform:scale(0);transform:scale(0)}50%{opacity:1;-webkit-transform:none;transform:none}}@keyframes spinner-grow{0%{-webkit-transform:scale(0);transform:scale(0)}50%{opacity:1;-webkit-transform:none;transform:none}}.spinner-grow{display:inline-block;width:2rem;height:2rem;vertical-align:text-bottom;background-color:currentColor;border-radius:50%;opacity:0;-webkit-animation:spinner-grow .75s linear infinite;animation:spinner-grow .75s linear infinite}.spinner-grow-sm{width:1rem;height:1rem}
@media screen and (max-width:560px) {
	.layui-form-select dl {
		top: 18px !important;
	}
}
